
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lấy lại mật khẩu |  </title>
    <!-- Tell the browser to be responsive to screen width -->

    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="~/Styles/googlefont.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Styles/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Styles/skin.css">
<link rel="stylesheet" href="~/Styles/common.css?v=3">
</head>
<body class="hold-transition login-page">
    <div class="home_top">
  <a href="/"><img src="~/images/logofit.png" class="riclogo" /></a>
  <div style="float:right;padding-right:10px;padding-top:15px;">

                        <a class="a1" href=""><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;  </a>
                        <a class="a1"  href="https://download.teamviewer.com/download/TeamViewerQS.exe" target="_blank">
                        <i class="teamviewer"></i>
                        Teamviewer</a>
                        <a class="a1" href="http://ultraviewer.net/vi/download.html" target="_blank"><i class="ultraview"></i>Ultraviewer</a>
                <a class="a1"  href='#'><i class="fa fa-info-circle"></i>&nbsp;Giới thiệu</a>  
                 
                    <a class="a1" href='#'><i class="fa fa-question-circle"></i>&nbsp;Hướng dẫn</a>
    </div>

    <div class="login-box" style="background-color:#fff;border:2px solid green;border-radius:5px;">
        <div class="login-logo" style="padding-top:10px;margin-bottom:10px;">
                
                <div style="color:#000; margin-top:10px; font-size:20pt;">
                  LẤY LẠI MẬT KHẨU
                </div>
                <div class="col-md-12" id="lbthongbao" style="color:orangered;font-size:12pt;"></div>
                <div class="col-md-12" id="lblogin" style="display:none;">
                    <a href="/Login" class="btn bg-green btn-flat">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp;  Đăng nhập
                    </a>

                </div>
            
          
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body" style="">


            <form id="frmsignup">

                <div class="row">
                    
                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                <input id="txtemail"  type="email" required class="form-control" placeholder="Nhập email">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-12" id="lbloginsubmit">
                            <button type="submit" id="cmdsignup" class="btn bg-green btn-block btn-flat">
                                <span class="glyphicon glyphicon-share"></span>
                                &nbsp;  Nhận lại mật khẩu
                            </button>

                        </div>
                        <!-- /.col -->
                    </div>
            </form>




        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
         

    <!-- jQuery 3 -->
    <script src="~/Scripts/jquery.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/validator.min.js"></script>
  <script src="~/Scripts/common.js"></script>

    <script type="text/javascript">

       
        function InitDefault() {
              bLoadDataCommon = false;
            _row = {
                email: ""
            };
        }

        function IsValidMe()
        {
            msg = '';
            _row.email = _row.email.replace(reg, '');
            return true;
        }

      function _passforgot() {
        _row.email = $.trim($('#txtemail').val());
        
        if (!IsValidMe()) {
            $('#lbthongbao').html(msg);
            return false;
        }

        $('#lbthongbao').html('');
        if (!IsEmail(_row.email))
        {
            $('#lbthongbao').html('* Vui lòng nhập đúng Địa chỉ email.');
            return false;
        }

        var url1 = '/ForgotPassword/Recovery';
       $.post(url1, { data: JSON.stringify(_row) }, function (data) {
          
              $('#lbthongbao').html(data.msg);
              if (data.code/1 == 100) {
                  $('#lblogin').show();
              }
      });
  }

  $(document).ready(function () {
       
      $('#frmsignup').validator().on('submit', function (e) {
          if (e.isDefaultPrevented()) {

          } else {
              // everything looks good!
              _passforgot();
              return false;
          }
      })

 
  });
    </script>
        <script src="js/talk.js"></script>
    <div class="ajaxloading fa fa-spinner fa-spin" style="display:none;"></div>
    <div class="ajaxloading_bg" style="display:none;"></div>

   
</body>
</html>
