<div id="breadcrumb" >
    <div class="container" style="padding:0px;">
        <ul class="breadcrumb" >
            <li><a class="linkheader1" href="~/Home">Home</a></li>
              @Html.Raw(ViewBag.path) 
           
        </ul>
    </div>
</div>