.print{
    padding:10px;
    font-family:Arial;
    font-size:10pt;
}

.print .title{
    text-align :center;
    font-weight:bold;
    font-size:16pt;
    width:99%;
    padding:10px 0px;
}
.print table{
    width:100%;
    border:1px solid #000;
    margin:0px;
    padding:0px;
}

.print td {
    padding: 3px 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}


  .print th{
    padding: 3px 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #808080;
}

