@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/AImodel_Layout.cshtml";
}


<link rel="stylesheet" href="~/SlideShow/lightslider.css">
<script src="~/SlideShow/lightslider.js"></script>


<style>
    .demo {
        width: 100%;
        padding: 0px;
        height: 235px;
    }

    .row {
        overflow: visible;
    }

    body {
        overflow-y: hidden;
    }

    [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    .titlehead {
        font-family: Arial;
        font-size: 22px;
        color: black;
        text-align: center;
        font-weight: bold;
        padding: 8px;
    }

    .titleLine {
        border-bottom: solid 3px #808080;
    }

    .titleImage {
        vertical-align: bottom;
    }

    .styleLineWidth {
        width: 60px;
        vertical-align: bottom;
    }

    .styleV {
        font-family: Arial;
        font-size: 16px;
        text-align: left;
        padding-bottom: 5px;
        font-weight: bold;
    }

    .control-label {
        font-family: Arial;
        font-weight: normal;
        font-size: 13px;
    }

    .labelWord {
        text-align: center;
        font-size: 14px;
        color: #000000;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .labelTable {
        vertical-align: bottom;
        height: 25px;
        width: 30px;
    }

    .labelTableVertical {
        vertical-align: bottom;
        height: 25px;
        width: 80px;
    }

    .labelLineVertical {
        border-bottom: solid 3px #808080;
    }

    .labelImg {
        vertical-align: bottom;
        width: 100px;
    }

    .labelImgTop {
        vertical-align: top;
        width: 100px;
    }

    .labelTableTop {
        vertical-align: top;
        height: 12px;
        width: 60px;
    }

    .labelLine {
        border-bottom: solid 3px #808080;
    }

    .labelLineTop {
        border-top: solid 3px #808080;
    }

    .tablewidth {
        width: 2px;
    }

    .colWidth {
        width: 6%;
        vertical-align: bottom;
        text-align: center;
        font-size: 13px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .colWidthLine {
        width: 10px;
        vertical-align: bottom;
        padding-bottom: 0px;
        padding-bottom: 5px;
        padding-top: 5px
    }

    table {
        table-layout: fixed;
    }
</style>

<style>
    .TitleName {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: normal;
    }

    #slideshow {
        margin: 0px auto;
        position: relative;
        width: 100%;
        height: 240px;
        /*  padding: 10px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
    }

        #slideshow > div {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

    #slideshowExpert {
        margin: 0px auto;
        position: relative;
        width: 100%;
        height: 240px;
        /*  padding: 10px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
    }

        #slideshowExpert > div {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
</style>

<style>

    ul {
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }

    .demo .item {
        margin-bottom: 60px;
    }

    .content-slider li {
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }

    .content-slider h3 {
        margin: 0;
        padding: 20px 0;
    }

    .demo {
        width: 100%;
    }
</style>



<div class="container-fluid" style="padding:3px;">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                    <tr>

                        <td style="text-align:center" class="titlehead">
                            Apply AI to Vision Equipments
                        </td>


                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <a href="/AIMonitor/1" class="item_edit">
                                <img src="~/img/icon_UseAI.jpg" style="width:20px" />&nbsp; Applied AI
                            </a>
                            &nbsp;<img src="~/img/icon_DoingAI.jpg" style="width:20px" />&nbsp; Doing AI
                            &nbsp;<img src="~/img/icon_notUseAI.jpg" style="width:20px" />&nbsp; Not yet
                        </td>
                    </tr>
                </table>
            </div>
             
        </div>
        <div class="col-lg-3">
           
        </div>

        

    </div>

</div>



<script>

    $(document).ready(function () {

        $("#content-slider").lightSlider({
            loop: true,
            keyPress: true
        });
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: -1,
            slideMargin: 0,
            speed: 1000,
            auto: true,
            loop: true,

            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });



        $("#slideshow > div:gt(0)").hide();

        setInterval(function () {
            $('#slideshow > div:first')
                .fadeOut(1500)
                .next()
                .fadeIn(1500)
                .end()
                .appendTo('#slideshow');
        }, 10000);


        // setInterval(time, 1000);

        setInterval(function () {
            location.reload();
        }, 1000 * 60 * 60);  //10.000 ms = 1s

    });
    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        $('#clock').text(h + ':' + m + ':' + s);

    }

</script>







