
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/main_layout.cshtml";
}

 


<div class="box" style="margin-top: 1px; margin-left:1px;" id="divcontent">
    <div class="box-header">
        <label id="lbcontent_title" style="display:none;text-transform:uppercase">THÔNG BÁO</label>
        <font color="red">
            <h2>Bạn không được phân quyền sử dụng chức năng này. </h2>
            <h2>Vui lòng liên hệ với Người quản lý của bạn để được hỗ trợ.</h2>
            </font>
</div>

  

</div>
 <script type="text/javascript">
    function InitDefault()
    {



        bLoadDataCommon = false;
    }
</script>
